@media screen and (max-width: 390px) {

    #left-panel {
        float: none;
        clear: both;
        width: 100%;
    }
        #mode {
            margin-top: 0rem;
        }

        #left-panel .minimized,
        #center-panel .minimized {
            display: none;
        }

    #mode header,
    #tag-group header,
    #date-group header,
    #center-panel header {
        cursor: pointer;
        border-bottom: 1px solid #dedede;
    }
    #mode header:hover,
    #tag-group header:hover,
    #date-group header:hover,
    #center-panel header:hover {
        border-bottom: 1px solid rgb(240, 124, 33);
    }


    #center-panel {
        width: 100%;
        min-width: 10rem;
    }

        .adding-new-task-mode {
            display: none;
        }

        .editing-another-task-mode {
            display: none;
        }
    .form-task-body,
    .form-task-title {
        width: 98%;
    }

    .edit-task-button{
        background-color: #dedede;
        color: #777777;
    }

    .delete-task-button,
    .save-task-button,
    .cancel-task-button,
    .edit-task-button,
    .form-save-new-task-button,
    .form-cancel-new-task-button {
        text-align: center;
        width: 98%;
        font-size: 1.5rem;
        clear: both;
        display: block;
        float: none;
        margin-bottom: 0.3rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 768px) {

    #left-panel {
        float: none;
        clear: both;
        width: 100%;
    }
    #mode {
        margin-top: 0rem;
    }

    #date-group,
    #tag-group,
    #mode {
        width: 33%;
        float: left;
    }

    #left-panel .minimized,
    #center-panel .minimized {
        display: none;
    }

    #mode header,
    #tag-group header,
    #date-group header,
    #center-panel header {
        cursor: pointer;
        border-bottom: 1px solid #dedede;
    }
    #mode header:hover,
    #tag-group header:hover,
    #date-group header:hover,
    #center-panel header:hover {
        border-bottom: 1px solid rgb(240, 124, 33);
    }


    #center-panel {
        width: 100%;
        min-width: 10rem;
    }

    .adding-new-task-mode {
        display: none;
    }

    .editing-another-task-mode {
        display: none;
    }
    .form-task-body,
    .form-task-title {
        width: 98%;
    }

    .edit-task-button{
        background-color: #dedede;
        color: #777777;
    }

    .edit-task-button {
        text-align: center;
        width: 98%;
        font-size: 1.5rem;
        clear: none;
        display: block;
        margin-bottom: 0.3rem;
    }

    .delete-task-button,
    .save-task-button,
    .cancel-task-button,
    .form-save-new-task-button,
    .form-cancel-new-task-button {
        text-align: center;
        width: 31%;
        font-size: 1.5rem;
        clear: none;
        display: block;
        float: left;
        margin-bottom: 0.3rem;
    }
}

@media screen and (min-width: 768px) {

    #left-panel {
        width: 15%;
        max-width: 12rem;
        padding-right: 0.6rem;
    }
        #mode {
            margin-top: 2.2rem;
        }

    #center-panel {
	    width: 80%;
	    min-width: 10rem;
    }

}